body {
  font-family: sans-serif;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  a {
    color: #00b1ed;
  }
  a:visited {
    color: #1f75fe;
  }
  a:active {
    color: #ff0000;
  }
}

.display-area {
  text-align: center;
}

.canvas-buttons {
  margin-bottom: 0.5em;
}

#canvas {
  outline: black 2px solid;
  /* This makes the height either 60% or 60vh, whichever is larger, but not
   * larger than 100% */
  width: min(100%, max(60%, 60vh));
}
